
headerbar, .titlebar {
    font-family: "SF Pro Text";
    font-weight: 600; /* SemiBold */
    font-size: 10pt;
}

textview text selection,
entry selection,
label selection,
flowbox flowboxchild:selected,
list row:selected {
    background-color: #d3c6aa;
    color: #272e33;
}
